<% if @service.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li> 
      <% end %>
    </ul>
  </div>
<% end %>