<% if @room.errors.any? %>
<div class="alert alert-danger">
  <ul>
    <% @room.errors.full_messages.each do |message| %>    
        <li><%= message %></li>
    <% end %>
  </ul>
</div> 
<% end %>